.packages {
  .hero {
    padding: 5% 0;
    text-align: center;
    background-color: #abcf3b;
    h2 {
      color: #fff;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      color: #fff;
      max-width: 450px;
      margin: 0 auto;
      font-size: 18px;
    }
  }

  .sub-hero {
    background-color: #2bb24a;
    padding: 20px;
    p {
      color: #fff;
      max-width: 600px;
      margin: 0 auto;
      font-size: 600;
      font-size: 18px;
      text-align: center;
    }
  }

  .card-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 15px 10px;
    min-height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 5px;
      color: #333;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .price {
      text-align: right;
      white-space: nowrap;
      margin-bottom: 15px;
      font-size: 13px;
      font-weight: 600;
    }
    p {
      color: #444;
      background-size: 22px;
      background-position: left center;
      background-repeat: no-repeat;
      font-size: 13px;
      padding-left: 30px;
      font-weight: 500;
      span {
        display: block;
        font-size: 14px;
      }
      &.time {
        background-image: url("../../assets/clock.svg");
      }
      &.available {
        background-image: url("../../assets/comment.svg");
      }
      &.total {
        background-image: url("../../assets/test.svg");
      }
    }
    .buttons {
      width: 100%;
      padding: 10px 0 0;
      margin-top: auto;
      .button,
      button {
        display: inline-block;
        text-align: center;
        border: 1px solid #2bb24a;
        color: #2bb24a;
        background-color: transparent;
        outline: none;
        padding: 6px 10px;
        border-radius: 6px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 15px;
        display: block;
        width: 100%;
        &:disabled {
          opacity: 0.8;
          cursor: not-allowed;
        }
        &:hover {
          background-color: #2bb24a;
          color: #fff;
        }
      }
    }
    .pay-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .button,
      button {
        flex: 0 0 48%;
        max-width: 48%;
      }
    }
  }

  .tabs {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }

  .tab {
    text-align: center;
    padding: 15px;
    flex: 1;
    color: #333;
    cursor: pointer;
    // border-bottom: ${({ active }) => (active ? "3px solid green" : "3px solid transparent")};
  }
  .tab-section {
    padding: 40px 20px;
  }

  .details {
    padding: 20px;
    text-align: center;
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      color: #555;
      font-size: 16px;
    }
  }

  .mock-title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-top: 1px solid #eee;
    }
    span {
      display: inline-block;
      color: #5f6d81;
      background-color: #fff;
      padding: 15px 20px;
      font-size: 14px;
      font-weight: 700;
      position: relative;
      z-index: 1;
    }
  }
}

.job-details .modal-title {
  font-size: 18px;
}
.job-bank {
  .modal-body {
    padding: 15px 15px 30px;
    p {
      margin-bottom: 25px;
      text-align: center;
    }
  }
  table {
    width: 100%;
  }
  th,
  td {
    padding: 10px 15px;
    border: 1px solid #eee;
  }
  .tid-form {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #eee;
    p {
      font-weight: 700;
    }
  }
  .button {
    border: 1px solid #2bb24a;
    color: #2bb24a;
    background-color: transparent;
    outline: none;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    display: block;
    width: 100%;
    &:disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
    &:hover {
      background-color: #2bb24a;
      color: #fff;
    }
  }
}
