.signup {
  border-radius: 12px;
  background-color: #fff;
  padding: 40px 30px;
  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 16px;
    width: 16px;
    background: url("../../../assets/close.svg") center no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .button {
    outline: 0;
    border: 0;
    display: block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 20px;
    background-color: #4eb51a;
    color: #fff;
    width: 100%;
  }
  .title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .action-line {
    padding: 25px 0 15px;
    text-align: center;
    span {
      color: #4eb51a;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
