.user {
  margin-left: 20px;
  position: relative;
  &:hover > div {
    opacity: 1;
    visibility: visible;
  }
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-fit: contain;
    cursor: pointer;
  }

  .item {
    font: 14px Arial;
    border-radius: 0;
    text-align: left;
    color: #888888;
    cursor: pointer;
    &:hover {
      background-color: #d3bfc731;
      color: #333;
    }
    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
    }
  }

  .close {
    font-size: 32px;
    color: #666;
    padding: 0 15px 20px;
    display: none;
    width: 45px;
    padding: 0 15px;
    margin-left: auto;
    // @media (max-width: 767px) {
    //   display: block;
    // }
  }
  .menu {
    min-width: 200px;
    padding: 10px 0;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    z-index: 100;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    &.open {
      opacity: 1;
      visibility: visible;
    }
    // @media (max-width: 767px) {
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   transform: translateX("105%");
    //   opacity: 1;
    //   visibility: visible;
    //   height: 100vh;
    //   width: 100vw;
    //   background-color: #fff;
    //   z-index: 11;
    //   &.open {
    //     transform: translateX(0);
    //   }
    // }
  }
}
